/.metadata/
Lecture/C203ImgExam/src/main/java/com/example/C203ImgExam/S3Config.java
Lecture/C203BucketExam/src/main/java/com/example/C203BucketExam/S3Config.java
Priv/ProjSelPrac/src/main/java/com/mysite/ProjSelPrac/AwsBucket/S3Config.java
Lecture/C206Extra/src/main/java/com/example/C206Extra/Bucket/S3Config.java
Lecture/homework7/src/main/java/com/mysite/homework7/S3Config.java
