<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="/update" method="post">
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
	<input type="hidden" name="cid" th:value="${customer.cid}">
	<input type="hidden" name="cdate" th:value="${customer.cdate}">
	
	아이디 : <input type="text" name="username" th:value="${customer.username}" readonly><br>
	
	권한 : <select class="form-select" name="role" onchange="this.form.submit()">
        <option selected th:text="${customer.role}"></option>
        <option value="ROLE_ADMIN">ROLE_ADMIN</option>
        <option value="ROLE_USER">ROLE_USER</option>
        <option value="ROLE_MANAGER">ROLE_MANAGER</option>
    </select><br>
	a메일 : <input type="text" name="cemail" th:value="${customer.cemail}"><br>
	전화 : <input type="text" name="cphone" th:value="${customer.cphone}"><br>
	주소 : <input type="text" name="caddr" th:value="${customer.cphone}"><br>
	
	<input type="submit" value="수정">
</form>

</body>
</html>